.allrights{
    background-color: #2e2e3d;
    color: white;
}
.download{
    color: black;
}
.playstore{
    background-color:rgb(0, 145, 7);
    color:black;
    box-shadow: 0 5px 15px  rgba(0, 0, 0, 0.705);

}