.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5%
}
.login{
    background-color: rgb(33, 33, 250);
    color:#fff;
    border-radius: 20px;
    border-bottom: 2px solid rgb(2, 0, 145);
}
.form-control{
    background-color: rgb(216, 228, 238);
    border-radius: 20px;
    
}